[submodule "Iosevka-upstream"]
	path = Iosevka-upstream
	url = git@github.com:nilcons/jozsika
	branch = iosevka-upstream
	fetchRecurseSubmodules = true
[submodule "Iosevka-nilcons"]
	path = Iosevka-nilcons
	url = git@github.com:nilcons/jozsika
	branch = iosevka-nilcons
	fetchRecurseSubmodules = true
